.navBar {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;

  .buttons {
    display: flex;
    gap: 2rem;

    button {
      transition: all ease-in-out 0.2s;
      font-size: 1rem;
    }

    button:hover {
      opacity: 70%;
      border-bottom: 2px solid green;
    }
  }

  .logo {
    width: 10rem;
    height: auto;
    margin-left: 4rem;
    cursor: pointer;
  }
}
